// body {
//     background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
//     background-size: 400% 400%;
//     animation: gradient 15s ease infinite;
// }

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.home-container {
    width: 100%;
    height: 100%;
    text-align: center;
    position: absolute;
    top: 0px;
    z-index: -1;
    // background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    // background-size: 400% 400%;
    // animation: gradient 15s ease infinite;

    .my-name {
        position: relative;
        top: 40%;

        h1 {
            font-size: 2em;
            letter-spacing: 0.2em;
            font-weight: bold;
            color: $primary;
            margin-bottom: 15px;

            span {
                color: $black;
            }
        }

        p {
            color: $dark-gray;
            letter-spacing: 0.3em;
            font-size: 1em;

            span {
                color: $black;
                margin: 0px 10px;
            }
        }

        @media (max-width: $to-small) {
            h1 {
                font-size: 2rem;
            }

            p {
                font-size: 1rem;
            }
        }

        @media (min-width: $from-small) and (max-width: $to-medium) {}

        @media (min-width: $from-medium) and (max-width: $to-large) {}

        @media (min-width: $from-large) and (max-width: $to-huge) {}

        @media (min-width: $from-huge) and (max-width: $to-gigantic) {}

        @media (min-width: $from-gigantic) and (max-width: $to-colossal) {}

        @media (min-width: $from-colossal) {}
    }
}

@media (max-width: $to-small) {
    .home-container {
        .my-name {
            top: 100px;
        }
    }
}

.region-tbl {
    width: 80vw;
    margin: 0 auto;

    .info-tbl {
        .info-row {
            display: flex;
            flex-flow: row nowrap;
            // justify-content: center;
            justify-content: space-between;

            align-items: center;
            line-height: 1.0;
            border-bottom: 1px solid rgba(46, 46, 46, 0.3);
            padding: 2rem 0;
            text-align: center;

            div {
                flex: 1;
                // color: #ffffff;

                &:nth-child(1) {
                    color: $primary;
                }
            }

            &.head>div {
                font-weight: bold;
            }
        }
    }
}


/* COUNT  */
#result {
    display: flex;
    align-content: center;
    margin: 1rem 0px;
    border-top: 1px solid rgba(112, 112, 112, 0.5);
    justify-content: center;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    bottom: 0px;
    left: 0;
    right: 0;
    color: #ffffff;
}


#result>div {
    font-size: 1.5rem;
    border-right: 1px solid rgba(112, 112, 112, 0.5);
    width: 100%;
    text-align: center;
    padding: 1.5rem 0.5rem;
}

#result>div:nth-last-child(1) {
    border-right: 0px solid rgba(112, 112, 112, 0.5);

}

@media (max-width: 768px) {
    #result {
        flex-direction: column;
        margin-top: 10px;
        margin-bottom: 0px;
    }

    #result>div {
        width: 100%;
        border-bottom: 1px solid rgba(112, 112, 112, 0.5);
        padding: 19px 0px;
    }
}

#result span {
    display: block;
    padding: 5px;
    font-size: 1rem;
    color: $primary;
}

#result .count {
    font-size: 3rem;
    font-weight: bold;
    color: $mid-gray;
    letter-spacing: 2px;
}

.state {
    font-size: 3rem;
    font-weight: 100;
    padding: 2rem 1rem;
    text-transform: uppercase;
    background: -webkit-gradient(linear, left top, right top, from(#30CFD0), to(#330867));
    background: linear-gradient(to right, #30CFD0 0%, #330867 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@media (min-width: 699px) {
    .state {
        font-size: 3rem;
        position: absolute;
        bottom: 5rem;
        left: 0;
        right: 0;
    }
}

.graph {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;

    .avr {
        .c-name {
            position: absolute;
            width: 100%;
            left: 0;
            top: -20px;
            text-align: center;
        }

        .c-per {
            color: #330867;
        }
    }

    .avr>div {
        position: relative;
        // color: #ffffff;
        // flex: 1;
        padding:  1rem 1rem 0rem 1rem;
        border-radius: 3px;
        background: rgb(0, 132, 255);
        background: linear-gradient(0deg, rgba(0, 132, 255, 1) 0%, rgba(0, 212, 255, 1) 100%);
    }

    &.pai-chart {
        flex-wrap: wrap;

        .avr {
            display: flex;
            justify-content: space-around;
            align-items: center;
            border-radius: 50%;
            background: #f0f0f0;
            position: relative;
            margin-bottom: 5rem;

            .c-name {
                position: absolute;
                width: 100%;
                left: 0;
                top: -30px;
                text-align: center;
            }

            .c-per {
                position: absolute;
                width: 100%;
                left: 0;
                bottom: -30px;
                text-align: center;
            }
        }

        .avr>div {
            box-sizing: border-box;
            border-radius: 50%;
            position: relative;
            padding: 2px;
            background: rgb(0, 132, 255);
            background: linear-gradient(0deg, rgba(0, 132, 255, 1) 0%, rgba(0, 212, 255, 1) 100%);
        }
    }
}

@media (max-width: $to-small) {
    .graph .avr .c-name {
        transform-origin: 0 0;
        transform: rotate(-90deg);
        left: 5px;
        top: -2px;
    }

    .graph .avr .c-per {
        color: #330867;
        position: absolute;
        bottom: -20px;
        left: 0;
    }
}