.navigation {
    right: 0px;
    padding: 0.5rem;
    position: relative;
    // position: fixed;
    left: 0px;
    margin-bottom: 2rem;
    border-bottom: 1px solid #cccccc;
    .logo {
        display: inline-block;
    }
    ul{
        text-align: center;
        li{
            list-style: none;
            display: inline-block;
            a{
                padding: 1rem;
            display: inline-block;
            }
        }
    }
    @media (max-width: $to-small) {
        position: fixed;
        left: 0px;
        right: 0px;
        top: 0px;
        z-index: 99;
    }
    @media (min-width: $from-small) and (max-width: $to-medium) {
        position: fixed;
        left: 0px;
        right: 0px;
        top: 0px;
        z-index: 99;
    }
    @media (min-width: $from-medium) and (max-width: $to-large) {}
    @media (min-width: $from-large) and (max-width: $to-huge) {}
    @media (min-width: $from-huge) and (max-width: $to-gigantic) {}
    @media (min-width: $from-gigantic) and (max-width: $to-colossal) {}
    @media (min-width: $from-colossal) {}
}