.sidebar-container {
    height: 100%;
    width: 100%;
}

#sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 20;
    overflow: hidden;
    pointer-events: none;
    color: #000;
    background: #fff;
    -webkit-transform: scale(1, 0);
    -ms-transform: scale(1, 0);
    transform: scale(1, 0);
    -webkit-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    transform-origin: 0 0;
    transition: all cubic-bezier(.77, 0, .175, 1) .5s;
    -webkit-perspective: 1000;
    perspective: 1000;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    opacity: 0;
    ul {
        position: absolute;
        bottom: 50px;
        left: 20px;
        width: calc(100% - 40px); // height: 100%;
        // height: calc(100% - 70px);
        max-height: 350px;
        pointer-events: auto;
        font-size: 4em;
        text-transform: uppercase;
        line-height: 1;
        margin-bottom: -8px;
        li {
            position: relative;
            overflow: hidden;
            margin-left: -2px;
            margin-bottom: 10px;
            opacity: 0;
            -webkit-transform: translate(0, -50px);
            -ms-transform: translate(0, -50px);
            transform: translate(0, -50px);
            -webkit-transform: translate3d(0, -50px, 0);
            transform: translate3d(0, -50px, 0);
            transition: -webkit-transform .2s, opacity .2s;
            transition: transform .2s, opacity .2s;
            a {
                font-size: 1.5em;
                color: #000;
                font-weight: 700;
                position: relative;
                display: inline-block;
                text-transform: uppercase;
                color: currentColor;
            }
        }
    }
    &.open {
        opacity: 1;
        height: 100%;
        -webkit-transform: scale(1, 1);
        -ms-transform: scale(1, 1);
        transform: scale(1, 1);
        background: #ffffff;
        .docker {
            display: none;
        }
        ul {
            position: absolute;
            bottom: 50px;
            width: calc(100% - 40px); // height: 100%;
            // height: calc(100% - 70px);
            // max-height: 350px;
            pointer-events: auto;
            margin-bottom: -8px;
            li {
                transition: -webkit-transform cubic-bezier(.165, .84, .44, 1) 1s, opacity cubic-bezier(.165, .84, .44, 1) 1s;
                transition: transform cubic-bezier(.165, .84, .44, 1) 1s, opacity cubic-bezier(.165, .84, .44, 1) 1s;
                opacity: 1;
                -webkit-transform: translate(0, 0);
                -ms-transform: translate(0, 0);
                transform: translate(0, 0);
                -webkit-transform: translate3d(0, 0, 0);
                transform: translate3d(0, 0, 0);
                &:nth-child(1) {
                    transition-delay: .4s;
                }
                &:nth-child(2) {
                    transition-delay: .35s;
                }
                &:nth-child(3) {
                    transition-delay: .30000000000000004s;
                }
                &:nth-child(4) {
                    transition-delay: .25s;
                }
            }
        }
    }
}

.docker {
    display: block;
}

#threeLines {
    position: absolute;
    right: 20px;
    top: 25px;
    z-index: 22;
    width: 30px;
    height: 30px;
    padding: 0px;
    /* margin-right: 15px; */
    cursor: pointer;
    transition: all 600ms ease;
    /* margin-top: -11px; */
    #el {
        cursor: pointer;
        width: 30px;
        padding: 0px;
        height: 1px;
        background: rgb(255, 255, 255);
        box-shadow: 0px 0px 0px transparent;
        border: 0px transparent;
        text-indent: -999px;
        position: absolute;
        top: 50%;
        left: 0px;
        margin-top: -1px;
        -webkit-appearance: none;
        line-height: 0px;
        transition: all 300ms ease;
        border-radius: 99px;
        &:active,
        &:focus {
            outline: 0px;
            border: 0px;
        }
        &::after,
        &::before {
            display: block;
            content: "";
            position: absolute;
            left: 0px;
            height: 1px;
            background: rgb(255, 255, 255);
            width: 100%;
            transition: all 300ms ease;
            border-radius: 99px;
        }
        &::after {
            top: -10px;
        }
        &::before {
            bottom: -10px;
            left: auto;
            right: 0px;
        }
    }
    &.active {
        transform: rotate(360deg);
        #el {
            background: transparent;
            &:after {
                transform: rotate(-135deg) translate(-9px, -9px) scale(1.1, 1.1);
                background: rgb(0, 0, 0);
            }
            &:before {
                transform: rotate(135deg) translate(-5px, 5px) scale(1.1, 1.1);
                background: rgb(0, 0, 0);
            }
        }
    }
}