* {
  padding: 0;
  margin: 0;
  font-family: Poppins, sans-serif;
  color: #7b7794; }

html {
  background: #1e1e2c; }

main {
  margin-top: 3.5rem; }

@media (max-width: 699px) {
  html {
    font-size: 14px; }

  main {
    margin-top: 4rem; }

  footer {
    position: relative;
    text-align: center; }
    footer ul {
      margin: 0; }
      footer ul li {
        margin: 0; }
        footer ul li a {
          margin-right: 0;
          color: #000;
          font-size: 1.5rem;
          letter-spacing: 1.5px; }
          footer ul li a span {
            font-size: inherit;
            color: #0084ff; } }
@media (min-width: 700px) and (max-width: 999px) {
  html {
    font-size: 14px; } }
@media (min-width: 1000px) and (max-width: 1199px) {
  html {
    font-size: 14px; } }
@media (min-width: 1200px) and (max-width: 1599px) {
  html {
    font-size: 16px; } }
@media (min-width: 1600px) and (max-width: 1999px) {
  html {
    font-size: 18px; } }
@media (min-width: 2000px) and (max-width: 2399px) {
  html {
    font-size: 21px; } }
@media (min-width: 2400px) {
  html {
    font-size: 24px; } }
a {
  color: #302e3d;
  text-decoration: none; }
  a:hover {
    text-decoration: none;
    color: #1e1e2c; }

p {
  font-size: 1rem;
  color: #302e3d;
  letter-spacing: 1px;
  font-weight: 300;
  line-height: 1.5em;
  margin-bottom: 2.5em; }

img {
  width: 100%; }

.ct-header {
  background: #1e1e2c;
  position: fixed;
  width: 100%;
  z-index: 12;
  top: 0px; }
  .ct-header .burger-menu {
    position: relative; }
  .ct-header #menu-lines {
    position: absolute;
    right: 1rem;
    top: 1rem;
    z-index: 22;
    width: 2rem;
    height: 2rem;
    padding: 0;
    cursor: pointer;
    transition: all 600ms ease; }
    .ct-header #menu-lines #el {
      cursor: pointer;
      width: 30px;
      padding: 0;
      height: 4px;
      background: #fff;
      box-shadow: 0 0 0 transparent;
      border: 0 transparent;
      text-indent: -999px;
      position: absolute;
      top: 50%;
      left: 0;
      margin-top: -1px;
      line-height: 0;
      transition: all 300ms ease;
      border-radius: 99px; }
      .ct-header #menu-lines #el:active {
        outline: 0;
        border: 0; }
      .ct-header #menu-lines #el:focus {
        outline: 0;
        border: 0; }
    .ct-header #menu-lines #el::after {
      display: block;
      content: "";
      position: absolute;
      left: 0;
      height: 4px;
      background: #fff;
      width: 100%;
      transition: all 300ms ease;
      border-radius: 99px;
      top: -10px; }
    .ct-header #menu-lines #el::before {
      display: block;
      content: "";
      position: absolute;
      left: 0;
      height: 4px;
      background: #fff;
      width: 100%;
      transition: all 300ms ease;
      border-radius: 99px;
      bottom: -10px;
      left: auto;
      right: 0; }
    .ct-header #menu-lines.active {
      transform: rotate(360deg); }
      .ct-header #menu-lines.active #el {
        background: transparent; }
        .ct-header #menu-lines.active #el:after {
          transform: rotate(-135deg) translate(-9px, -9px) scale(1.1, 1.1);
          background: #fff; }
        .ct-header #menu-lines.active #el:before {
          transform: rotate(135deg) translate(-5px, 5px) scale(1.1, 1.1);
          background: #fff; }
  .ct-header nav.mob-nav {
    position: fixed;
    top: 0;
    right: 0;
    width: 80vw;
    height: 100vh;
    background: #000;
    z-index: 10;
    align-items: center;
    justify-content: flex-start;
    text-align: left;
    opacity: 0;
    display: none; }
    .ct-header nav.mob-nav ul {
      display: none; }
      .ct-header nav.mob-nav ul li {
        text-align: right;
        display: contents;
        display: block; }
        .ct-header nav.mob-nav ul li a {
          display: inline-block;
          text-transform: uppercase;
          font-size: 1.2rem;
          letter-spacing: 2px;
          font-weight: 400;
          padding: 1.2rem;
          cursor: pointer;
          color: #fff;
          display: block; }
          .ct-header nav.mob-nav ul li a:hover {
            color: #000;
            color: #fff; }
          .ct-header nav.mob-nav ul li a i {
            color: #ffffff;
            font-size: 2.5rem; }
        .ct-header nav.mob-nav ul li.nav-logo {
          display: none; }
    .ct-header nav.mob-nav.active {
      opacity: 1;
      display: flex; }
      .ct-header nav.mob-nav.active ul {
        display: block;
        width: 100%; }

#tets {
  width: 100px;
  height: 100px; }

div.anim {
  position: relative;
  width: 100px;
  height: 100px;
  background-color: black; }

p {
  margin-bottom: 1rem; }

p b {
  font-weight: bold; }

#my-scrollbar {
  height: 100vh;
  overflow: auto; }

#selected {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 1rem; }

#drink-details {
  display: none;
  background: #fff;
  height: 100vh;
  width: 65%;
  top: 0;
  right: 0;
  position: fixed;
  border-left: 1px solid #ccc; }

.d-details {
  overflow: auto;
  height: inherit;
  padding: 2rem;
  box-sizing: border-box;
  word-wrap: break-word; }

.dImg {
  padding: 2rem 0.5rem;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat; }

.page-header {
  width: auto;
  height: auto;
  border-radius: 20px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  text-align: center;
  padding: 1rem 0.5rem;
  color: #fff; }
  .page-header h2 {
    color: inherit;
    font-weight: 600;
    font-size: 1.4rem; }

.d-list .drink {
  overflow: hidden;
  padding: 1rem;
  height: 40vh;
  width: 48%;
  margin-right: 4%;
  border-radius: 1.5rem;
  margin-bottom: 2rem;
  box-sizing: border-box;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 10rem;
  position: relative;
  cursor: pointer; }
  .d-list .drink:nth-child(even) {
    margin-right: 0px; }
  .d-list .drink .d-name {
    position: absolute;
    bottom: 1rem;
    right: 0px;
    left: auto;
    max-width: 40vw;
    padding: 10px 8px 10px 1rem;
    border-radius: 2.5rem;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    background: #7b7794;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 600;
    box-sizing: border-box;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; }

.ct-details .d-bg-img {
  height: 55vh;
  width: 100vw;
  background-image: url("../images/rptuxy1472669372.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover; }
.ct-details .d-info-cont,
.ct-details .d-category,
.ct-details .d-spec {
  margin-bottom: 3.5rem; }
.ct-details .d-name {
  color: #fff;
  font-weight: 600;
  letter-spacing: 2px; }
.ct-details .d-info {
  background: #1e1e2c;
  margin-top: -50px;
  padding: 40px;
  width: auto;
  height: auto;
  border-radius: 30px;
  position: relative; }
  .ct-details .d-info .quantity {
    background-color: #26283b;
    position: absolute;
    top: -15px;
    z-index: 5;
    right: 40px;
    width: auto;
    height: auto;
    border-radius: 30px; }
    .ct-details .d-info .quantity span {
      display: inline-block;
      padding: 10px 15px;
      text-align: center;
      color: #fff;
      border-right: 1px solid #1e1e2c; }
      .ct-details .d-info .quantity span:nth-last-child(1) {
        border-right: 0px solid #1e1e2c; }
.ct-details .d-spec {
  display: flex;
  overflow-x: scroll;
  margin: 20px -40px 25px -40px; }
  .ct-details .d-spec div {
    text-align: center;
    padding: 5px 25px 10px 25px;
    border-right: 2px solid #26283b; }
    .ct-details .d-spec div img {
      width: 75px;
      color: #fff; }
    .ct-details .d-spec div i {
      font-size: 4rem; }
    .ct-details .d-spec div span {
      display: block;
      color: #49465c; }
.ct-details .measure,
.ct-details .ingredients {
  margin-bottom: 25px; }
  .ct-details .measure h2,
  .ct-details .ingredients h2 {
    text-transform: uppercase;
    color: #7b7794;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 10px; }
  .ct-details .measure ul li,
  .ct-details .ingredients ul li {
    list-style: none;
    color: #fff;
    font-size: 1rem;
    letter-spacing: 1.5px;
    padding: 12px 15px;
    width: 50px;
    display: inline-block;
    margin-bottom: 5px;
    border: 2px solid #26283b;
    width: auto;
    height: auto;
    border-radius: 15px; }
.ct-details .measure ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid #26283b;
  flex-wrap: nowrap;
  width: auto;
  height: auto;
  border-radius: 15px; }
  .ct-details .measure ul li {
    text-align: center;
    border: 0px;
    border-radius: 0px; }
.ct-details .instructions {
  color: #7b7794; }

/*# sourceMappingURL=main.css.map */
