@import "barba-page";
//colors
$white: #fff;
$gray-light: #ccc;
$gray-mid: #999;
$gray-dark: #444444;
$gray-dark-rgba: #2c2c2c;
$black: #1f1f1f;

$primary: #0084ff;
$color_chambray_approx: #3b5998;
$color_dodger_blue_approx: #1da1f2;
$color_valencia_approx: #d14836;
$brown: rgba(175, 29, 29, 0.46);
$red: red;
$color_blue_ribbon_approx: #0057ff;

//fonts
$font_0: Poppins;
$font_1: sans-serif;

* {
    padding: 0;
    margin: 0;
    font-family: $font_0, $font_1;
    color: $gray-dark;
    // border: 1px solid green;
}


html {
    background: $white;
}

.mt {
    color: $primary;
}

@media(max-width: 699px) {
    html {
        font-size: 12px;
    }

    .navigation {
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        z-index: 99;
    }

    footer {
        position: relative;
        text-align: center;

        ul {
            margin: 0;

            li {
                margin: 0;

                a {
                    margin-right: 0;
                    color: $black;
                    font-size: 1.5rem;
                    letter-spacing: 1.5px;

                    span {
                        font-size: inherit;
                        color: $primary;
                    }
                }
            }
        }
    }

    .project-container {
        width: 100%;
    }

    .page-heading {
        text-align: center;
        font-size: 2rem;
        padding: 20px;
        position: relative;

        span.overlay {
            top: 0px;
            bottom: 0px;
            display: block;
            background-color: #d14836;
            position: absolute;
        }
    }

    .pro-header-container {
        //Instead of the line below you could use @include box-sizing($bs)
        box-sizing: border-box;
        position: relative;
        height: 100vh;
        padding: 3rem;

        h1 {
            font-size: 5rem;
        }

        .pro-header {
            position: absolute;
            bottom: 3rem;
        }
    }

    .technologies {
        margin: 2rem 0;

        li {
            font-size: 16px;
        }
    }

    .project-type {
        margin: 2rem 0;

        li {
            font-size: 16px;
        }
    }

    .pro-details {
        margin-top: 0;
        padding: 3rem;
        //Instead of the line below you could use @include box-sizing($bs)
        box-sizing: border-box;

        h1 {
            font-size: 2rem;
            margin-bottom: 2rem;
            letter-spacing: 1px;
        }
    }

    .pro-images {
        position: relative;
        overflow: hidden;

        img {
            width: 100%;
        }

        .desktop-img {
            //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
            border-radius: 12px;
            overflow: hidden;
            position: relative;
            width: 150%;
            bottom: 0;
            margin-top: 50px;
            margin-bottom: 50px;
        }

        .tab-img {
            margin-left: -80%;
            width: 200%;
            overflow: hidden;
            //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
            border-radius: 10px;
            width: 150%;
            z-index: 2;
            bottom: 0;
            margin-top: 50px;
            margin-bottom: 50px;
        }

        .mob-img {
            overflow: hidden;
            //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
            border-radius: 18px;
            width: 80%;
            z-index: 3;
            bottom: 0;
            margin-left: 37%;
            right: 0;
            margin-top: 50px;
            margin-bottom: 50px;
        }
    }

    .about-details {
        margin-top: 0;
        padding: 3rem;
        //Instead of the line below you could use @include box-sizing($bs)
        box-sizing: border-box;

        h1 {
            font-size: 2rem;
            margin-bottom: 2rem;
            letter-spacing: 1px;
        }

        .skills li .skill-time {
            top: unset !important;
            line-height: normal !important;
            bottom: 0;
            font-size: 1rem;

            a {
                color: $primary;

                &:hover {
                    color: $black;
                }
            }
        }
    }

    .home-container .my-name {
        h1 {
            font-size: 2rem;
            position: relative;
            display: inline-block;

            &::after {
                content: "";
                bottom: 8px;
                right: 0px;
                display: block;
                width: 3px;
                height: 3px;
                background: $primary;
                position: absolute;
            }
        }

        p {
            font-size: 1rem;
        }
    }
}

@media(min-width: 700px) and(max-width: 999px) {
    html {
        font-size: 13px;
    }

    .navigation {
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        z-index: 99;
    }

    .page-heading {
        text-align: center;
        font-size: 3rem;
        padding: 20px;
    }

    .pro-header-container .pro-header {
        position: absolute;
        bottom: 3rem;
    }
}

@media(min-width: 1000px) and(max-width: 1199px) {
    html {
        font-size: 14px;
    }

    .pro-details {
        padding-top: 3rem;
    }

    .about-details {
        padding-top: 3rem;
    }
}

@media(min-width: 1200px) and(max-width: 1599px) {
    html {
        font-size: 16px;
    }

    .pro-details {
        padding-top: 0;
    }

    .about-details {
        padding-top: 0;
    }
}

@media(min-width: 1600px) and(max-width: 1999px) {
    html {
        font-size: 18px;
    }
}

@media(min-width: 2000px) and(max-width: 2399px) {
    html {
        font-size: 21px;
    }
}

@media(min-width: 2400px) {
    html {
        font-size: 24px;
    }
}

a {
    color: $black;
    text-decoration: none;

    &:hover {
        text-decoration: none;
        color: $gray-dark;
    }
}

p {
    font-size: 1.5rem;
    color: $gray-mid;
    letter-spacing: 1px;
    font-weight: 300;
    line-height: 1.5em;
    margin-bottom: 2.5em;
}

img {
    width: 100%;
}

#page-wrapper {
    padding-right: 2rem;
    padding-left: 2rem;
    max-width: 100rem;
}

@media(max-width: 1599px) and(min-width: 700px) {
    #page-wrapper {
        padding-right: 7.5rem;
        padding-left: 7.5rem;
        max-width: 140rem;
    }

    .page-container {
        padding-right: 7.5rem;
        padding-left: 7.5rem;
        max-width: 140rem;
    }
}

@media(min-width: 768px) {
    .page-container {
        margin: 0 auto;
        max-width: 1024px;

        p {
            color: $gray-mid;
            letter-spacing: 1px;
            font-weight: 300;
            line-height: 1.5em;
            margin-bottom: 2.5em;
        }
    }
}

h1 {
    font-size: 6rem;
}

h2 {
    font-size: 5rem;
}

h3 {
    font-size: 4rem;
}

h4 {
    font-size: 3rem;
}

h5 {
    font-size: 2rem;
    color: $white;
    font-weight: 900;
    text-transform: uppercase;
}

.fade-in {
    animation: fadein 3s;
}

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-moz-keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-webkit-keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.loading_spinner-wrap {
    position: fixed;
    z-index: 999;
    background: $black;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.loading_spinner {
    display: block;
    margin: 0 auto;
    fill: $black;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -40px;
    margin-top: -10px;

    circle {
        animation-name: upAndDown;
        animation-duration: 2s;
        animation-timing-function: cubic-bezier(0.05, 0.2, 0.35, 1);
        animation-iteration-count: infinite;

        &:nth-child(2) {
            animation-delay: .18s;
        }

        &:nth-child(3) {
            animation-delay: .36s;
        }
    }
}

@keyframes upAndDown {
    0% {
        opacity: 0;
        //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
        transform: translateY(0);
    }

    25% {
        opacity: 1;
        //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
        transform: translateY(-10px);
    }

    75% {
        opacity: 1;
        //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
        transform: translateY(-10px);
    }

    100% {
        opacity: 0;
        //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
        transform: translateY(0);
    }
}

.navigation {
    right: 0;
    left: 0;
    padding: 20px;
    // position: fixed;
    z-index: 99;

    .logo {
        display: inline-block;
    }
}

.sidebar-container {
    height: 100%;
    width: 100%;
}

#sidebar {
    position: fixed;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    z-index: 20;
    overflow: hidden;
    pointer-events: none;
    color: $black;
    background: $white;
    //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
    transform: scale(1, 0);
    //Instead of the line below you could use @include transform-origin($origin-x, $origin-y, $origin-z, $only3d)
    transform-origin: 0 0;
    //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
    transition: all cubic-bezier(0.77, 0, 0.175, 1) 0.5s;
    //Instead of the line below you could use @include perspective($p)
    perspective: 1000;
    //Instead of the line below you could use @include backface-visibility($visibility)
    backface-visibility: hidden;
    opacity: 0;

    ul {
        position: absolute;
        bottom: 50px;
        left: 20px;
        width: calc(100% - 40px);
        max-height: 350px;
        pointer-events: auto;
        font-size: 4em;
        text-transform: uppercase;
        line-height: 1;
        margin-bottom: -8px;

        li {
            position: relative;
            overflow: hidden;
            margin-left: -2px;
            margin-bottom: 10px;
            opacity: 0;

            a {
                font-size: 0.5em;
                color: $black;
                font-weight: 700;
                position: relative;
                display: inline-block;
                text-transform: lowercase;
                color: currentColor;
            }
        }
    }

    &.open {
        opacity: 1;
        height: 100%;
        //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
        transform: scale(1, 1);
        background: $black;

        .docker {
            display: none;
        }

        ul {
            position: absolute;
            bottom: 50px;
            width: calc(100% - 40px);
            pointer-events: auto;
            margin-bottom: -8px;

            li {
                opacity: 1;
                display: flex;
            }
        }
    }
}

@media(max-width: 767px) {
    #sidebar {
        width: 100%;
    }
}

.docker {
    display: block;
}

#threeLines {
    position: absolute;
    right: 20px;
    top: 25px;
    z-index: 22;
    width: 30px;
    height: 30px;
    padding: 0;
    cursor: pointer;
    //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
    transition: all 600ms ease;

    #el {
        cursor: pointer;
        width: 30px;
        padding: 0;
        height: 1px;
        background: $white;
        //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
        box-shadow: 0 0 0 transparent;
        border: 0 transparent;
        text-indent: -999px;
        position: absolute;
        top: 50%;
        left: 0;
        margin-top: -1px;
        line-height: 0;
        //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
        transition: all 300ms ease;
        //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
        border-radius: 99px;

        &:active {
            outline: 0;
            border: 0;
        }

        &:focus {
            outline: 0;
            border: 0;
        }
    }

    #el::after {
        display: block;
        content: "";
        position: absolute;
        left: 0;
        height: 1px;
        background: $white;
        width: 100%;
        //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
        transition: all 300ms ease;
        //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
        border-radius: 99px;
        top: -10px;
    }

    #el::before {
        display: block;
        content: "";
        position: absolute;
        left: 0;
        height: 1px;
        background: $white;
        width: 100%;
        //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
        transition: all 300ms ease;
        //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
        border-radius: 99px;
        bottom: -10px;
        left: auto;
        right: 0;
    }

    &.active {
        //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
        transform: rotate(360deg);

        #el {
            background: transparent;

            &:after {
                //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
                transform: rotate(-135deg) translate(-9px, -9px) scale(1.1, 1.1);
                background: $black;
            }

            &:before {
                //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
                transform: rotate(135deg) translate(-5px, 5px) scale(1.1, 1.1);
                background: $black;
            }
        }
    }
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 20px 0;
    left: 0;
    z-index: 1;
    text-align: right;

    ul {
        margin-right: 10px;
        display: block;

        li {
            display: inline-block;

            a {
                margin-right: 10px;
                display: block;
                padding: 6px;
                //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
                border-radius: 6px;
                color: $gray-light;
                letter-spacing: 1px;
                color: $gray-mid;

                &.fb {
                    background: $color_chambray_approx;
                }

                &.tw {
                    background: $color_dodger_blue_approx;
                }

                &.gm {
                    background: $color_valencia_approx;
                }
            }
        }
    }
}

.home-container {
    // width: 100vw;
    height: 100vh;
    text-align: center;
    position: relative;
    top: 0;

    .my-name {
        position: relative;
        top: 40%;
        display: inline-block;

        h1 {
            font-size: 2em;
            letter-spacing: 0.2em;
            font-weight: 300;
            color: $black;
            margin-bottom: 15px;
            position: relative;
            display: inline-block;

            &::after {
                content: "";
                bottom: 10px;
                right: 3px;
                display: block;
                width: 3px;
                height: 3px;
                background: $primary;
                position: absolute;
            }

            span {
                color: $primary;
            }
        }

        p {
            color: $gray-mid;
            letter-spacing: 0.3em;
            font-size: 1em;

            span {
                color: $primary;
                margin: 0 10px;
            }
        }
    }
}

.project-container {
    margin: 0 auto;
    width: 768px;

    ul {
        &.project-list {
            padding: 20px;
        }

        li {
            overflow: hidden;
            margin-bottom: 1rem;
            background-size: cover;

            a {
                position: relative;
                padding: 40px 0 40px 40px;
                color: $gray-light;
                text-transform: uppercase;
                font-size: 32px;
                font-weight: 700;
                display: block;
                letter-spacing: 2px;
                //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
                transition: all 1s ease-in;
                background: $gray-dark-rgba;

                &:hover {
                    background: rgba(51, 51, 51, 0);
                    //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
                    transition: all 1s ease-in;
                }

                span {
                    position: absolute;
                    z-index: -1;
                    color: $black;
                    left: 0;
                    font-size: 10rem;
                    font-weight: 700;
                    top: 0;
                }
            }
        }
    }
}

.page-heading {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1rem;
    position: relative;

    .overlay {
        top: 0px;
        bottom: 0px;
        display: block;
        background-color: #fff;
        position: absolute;
        width: 100%;
        height: 100%;
    }
}

.pro-header-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-size: cover;
    background-position: center center;
    height: 50vh;
    padding-top: 3rem;
    padding-bottom: 3rem;

    .page-heading {
        margin-bottom: 0;
    }

    .view-proj-btn {
        background: $white;
        padding: 2rem 3rem;
        color: $black;
        display: inline-block;
    }

    .pro-header h1 {
        //Instead of the line below you could use @include text-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
        text-shadow: $brown 7px 7px 10px;
        color: $white;
    }
}

.technologies {
    margin: 2rem 0;

    li {
        list-style: none;
        display: inline-block;
        background: $gray-dark;
        color: $white;
        margin-right: 5px;
        margin-bottom: 10px;
        padding: 1rem 2rem;
        text-transform: uppercase;
    }
}

.project-type {
    margin: 2rem 0;

    li {
        list-style: none;
        display: inline-block;
        background: $gray-dark;
        color: $white;
        margin-bottom: 10px;
        margin-right: 5px;
        padding: 1rem 2rem;
        text-transform: uppercase;
    }
}

.pro-details {
    margin-top: 60vh;

    h1 {
        font-size: 2rem;
        margin-bottom: 2rem;
        letter-spacing: 1px;
        color: $white;
    }
}

.pro-images {
    img {
        width: 100%;
    }

    .desktop-img {
        //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
        border-radius: 12px;
        overflow: hidden;
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .tab-img {
        //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
        border-radius: 10px;
        overflow: hidden;
        width: 75%;
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .mob-img {
        //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
        border-radius: 18px;
        overflow: hidden;
        width: 50%;
        margin-top: 50px;
        margin-bottom: 50px;
    }
}

.about {
    width: 100%;
    height: 100vh;
    height: auto;

    .about-me {
        color: $black;
    }
}

.about-details {
    margin-top: 0;

    h1 {
        font-size: 2rem;
        margin-bottom: 2rem;
        letter-spacing: 1px;
    }

    .my-img {
        filter: grayscale(100%);
        filter: blur(5px);

        &:hover {
            filter: blur(0px);
        }
    }

    .work-exp-block .skills {
        padding: 1rem 0;
        margin-bottom: 4rem;

        li {
            list-style: none;
            position: relative;
            margin-bottom: 20px;
            display: block;

            .skill-time {
                position: absolute;
                right: 0;
                top: 0;
                padding: 1rem 0;
                line-height: 1.5rem;
            }

            div {
                display: block;
            }

            .skill-name {
                color: $gray-dark;
                font-size: 1rem;
                font-weight: 500;
                border-bottom: $gray-light 1px solid;
                padding: 1rem 0;
                letter-spacing: 0.5px;

                div {
                    padding: 10px 20px;
                    //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
                    border-radius: 30px;
                    border: 1px solid $gray-light;
                    margin-bottom: 15px;
                    color: $gray-mid;
                    display: inline-block;
                }
            }

            .skill-type {
                color: $gray-mid;
                font-size: 1rem;
                padding: 1rem 0;

                div {
                    display: inline-block;
                    padding: 0 10px;
                    border-right: 1px solid $gray-mid;
                    color: $gray-mid;

                    &:nth-child(1) {
                        padding-left: 0;
                    }

                    &:nth-last-child(1) {
                        border-right: 0 solid $gray-mid;
                    }
                }
            }
        }
    }
}

.smooth-sec {
    position: fixed;
    right: 0;
    top: 45%;
    background: $red;
    display: block;

    li {
        display: block;
        padding: 1rem;
    }
}

@media only screen and(max-width: 768px) {}

.contact-form {
    input {
        font-size: 2rem;
        width: 100%;
        border: 0 solid $black;
        border-bottom: 0.2rem solid $black;
        padding: 1.5rem 1rem 1.5rem 4rem;
        //Instead of the line below you could use @include box-sizing($bs)
        box-sizing: border-box;

        &:focus {
            border-bottom: 0.2rem solid $color_blue_ribbon_approx;
        }
    }

    div span {
        position: absolute;
        font-size: 2rem;
        padding: 1.5rem 1rem;
    }
}

.g12 {
    display: flex;

    .g1x2 {
        flex: 1;
    }
}

nav.main-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: $black;
    z-index: 1;
    align-items: center;
    justify-content: center;
    text-align: center;
    opacity: 0;
    display: none;

    ul {
        display: none;

        li {
            text-align: center;
            display: contents;
            display: block;

            a {
                display: inline-block;
                text-transform: uppercase;
                font-size: 0.8rem;
                font-weight: 500;
                padding: 1.5rem;
                color: $gray-dark;
                cursor: pointer;
                display: block;
                font-size: 1.5rem;
                font-weight: 800;
                padding: 1rem;
                font-size: 2.5rem;
                color: $white;

                &:hover {
                    color: $black;
                    color: $white;
                }
            }

            &.nav-logo {
                display: none;
            }
        }
    }

    &.active {
        opacity: 1;
        display: flex;

        ul {
            display: block;
        }
    }
}
