.nl-eligibility-pad {
    padding: 15px;
}

.lfr-ddm-field-group {
    margin-bottom: 21px;
}

.newlead-active {
    display: block;
}

.newlead {
    display: none;
}
.js-emp-details, .js-lap-details {
    display: none;
}