footer {
    position: relative;
}

.footer {
    position: fixed;
    bottom: 0;
    right: 3rem;

    ul {
        position: relative;

        // &:after {
        //     content: "";
        //     display: block;
        //     width: 200%;
        //     height: 1px;
        //     background-color: $dark-gray;
        //     position: absolute;
        //     top: 22px;
        //     left: 100%;
        // }

        li {
            list-style: none;
            display: inline-block;

            a {
                font-size: 1.5m;
                font-weight: normal;
                letter-spacing: 2px;
                display: inline-block;
                padding: 1.5rem 0;
                text-decoration: none;
                color: $dark-gray;

                &:hover {
                    color: $primary;
                }
            }
        }
    }
}



.media {
    ul {
        position: fixed;
        bottom: 250px;
        left: -150px;
        transform: rotate(-90deg);

        li {
            font-size: 1rem;
            font-weight: normal;
            letter-spacing: 1px;
            display: inline-block;
            padding: 0 30px;
        }
    }

    @media only screen and (max-width: 767px) {
        display: none;
    }
}


.title {
    color: $white;
}