footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 20px 0;
    left: 0;
    z-index: 1;
    text-align: right;
    ul {
        margin-right: 10px;
        display: block;
        li {
            display: inline-block;
            a {
                margin-right: 10px;
                display: block;
                padding: 6px;
                border-radius: 6px;
                color: #ccc;
                letter-spacing: 1px;
                color: #999;
                &.fb {
                    background: #3b5998;
                }
                &.tw {
                    background: #1da1f2;
                }
                &.gm {
                    background: #d14836;
                }
            }
        }
    }
}