/**
 * Variables
*/


/* Typography */


/* Breakpoints */

$mobile-width:480px;
$mid-width:1024px;
$tab-width:768px;
$lineHeight :200px;

/* Paths */


/* Grid setup */


/* Colour palette */

$primary:#ffc200;
$yellow:#ffc200;
$orange:#f76d37;
$blue:#00ade8;
$black: #000;
$white: #fff;
$light-gray: #f1f1f1;
$body-background-color: #333;
$foreground-color: #fff;
$caption-color: #464646;
$accent-color: #999;
$link-color: #ec1f4e;

/* Components */