

@media (min-width: 700px) and (max-width: 999px) {
    html {
        font-size: 10px;
    }
}

@media (min-width: 1000px) and (max-width: 1199px) {
    html {
        font-size: 14px;
    }
}
@media (max-width: 1024px) {
    html {
        font-size: 10px;
    }
}
@media (max-width: 768px) {
    html {
        font-size: 8px;
    }
}
@media (min-width: 1200px) and (max-width: 1599px) {
    html {
        font-size: 14px;
        /* [1] */
    }
}

@media (min-width: 1600px) and (max-width: 1999px) {
    html {
        font-size: 15px;
    }
}

@media (min-width: 2000px) and (max-width: 2399px) {
    html {
        font-size: 16px;
    }
}

@media (min-width: 2400px) {
    html {
        font-size: 20px;
    }
}

/* body {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}

.nav.darken a:hover {
    color: #666666;
    -webkit-transition-duration: 0.3s;
    -moz-transition: 0.3s;
    transition: 0.3s;
} */

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.canvas-cont{
    position: relative;
}

.canvas-cont .canvsa-info {
    position: absolute; 
    bottom: 2rem;
    /* width: 400px;
    height: 500px;*/
    left: 2rem;
    color: #6a6a6a;
    /* position: fixed; 
    left: 0px; 
    background: #23d5ab;
    top: 50%; 
     -ms-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg); */
}

.home {
    height: 100vh;
    position: relative;
}

.c-logo {
    font-size: 2rem;
    font-weight: bold;
    color: #ffffff;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.c-logo:before,
.c-logo:after {
    content: '';
    height: 1px;
    background: #ffffff;
    margin: 0 20px 0 0;
    flex: 1 0 20px;
}

.c-logo:after {
    margin: 0 0 0 20px;
}

@media (max-width: 768px) {
    .c-logo {
        height: auto;
        /* align-items: flex-start; */
        padding-top: 1rem;
        font-weight: bold;
    }

    .c-logo:before,
    .c-logo:after {
        align-items: center;
    }
}

#s1 {
    min-height: 100vh;
    background: #333333;
}

.cir-container {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
}

.cir {
    position: relative;
    flex: 1;
}

.outer {
    /* position: absolute; */
    background: #e73c7e;
    width: 150px;
    border-radius: 50%;
    height: 150px;
    align-items: center;
    display: flex;
    justify-content: center;

}

/* .inner {
    background: #fff;
    width: 100px;
    border-radius: 50%;
    height: 100px;
} */

#s2 {
    background: #333333;
    min-height: 100vh;
}

.bar-container {
    padding: 2rem;
    width: 80%;
    margin: 0 auto;
}

.bar-container div {}

.bars {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5rem;
}

.bar {
    /* border: 1px solid rgba(255, 255, 255,0.5); */
    padding: 1rem;
    position: relative;
    background: #e73c7e;
    border-radius: 2px;
    background-image: linear-gradient(to right, #d52e6e, #e73c7e);
}

.bars .c-name {
    /* position: absolute; */
    padding: 0.5rem;
    font-size: 0.7rem;
    text-transform: uppercase;
    color: #ffffff;
}

.bars .c-cases {
    color: #e73c7e;
}

/* COUNT  */
#result {
    display: flex;
    align-content: center;
    margin: 1rem 0px;
    border-top: 1px solid rgba(234, 236, 239, 0.5);
    justify-content: center;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    bottom: 0px;
    left: 0;
    right: 0;
    color: #ffffff;
}


#result>div {
    font-size: 1.5rem;
    border-right: 1px solid rgba(234, 236, 239, 0.5);
    width: 100%;
    text-align: center;
    padding: 1.5rem 0.5rem;
}

#result>div:nth-last-child(1) {
    border-right: 0px solid #eaecef;

}

@media (max-width: 768px) {
    #result {
        flex-direction: column;
        margin-top: 10px;
        margin-bottom: 0px;
    }

    #result>div {
        width: 100%;
        border-bottom: 1px solid #eaecef;
        padding: 19px 0px;
    }
}

#result span {
    display: block;
    padding: 5px;
    font-size: 1rem;
}

#result .count {
    font-size: 3rem;
    font-weight: bold;
}

.state {
    font-size: 3rem;
    font-weight: 100;
    padding: 2rem 1rem;
    text-transform: uppercase;
    background: -webkit-gradient(linear, left top, right top, from(#30CFD0), to(#330867));
    background: linear-gradient(to right, #30CFD0 0%, #330867 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@media (min-width: 699px) {
    .state {
        font-size: 3rem;
        position: absolute;
        bottom: 5rem;
        left: 0;
        right: 0;
    }
}

.lerp-me {
    height: 100px;
    width: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    background: #000000;
    z-index: 2;
    margin-left: -50px;
    margin-top: -50px;
}