nav {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 99;

	.navbar {
		display: flex;
		justify-content: space-between;
		height: 80px;
		align-items: center;

		>div {
			padding: 0 30px;
			font-size: 20px;
			align-self: auto;
		}

		.logo {
			margin-right: auto;

			img {
				width: 80px;
			}
		}

		.menus ul {
			overflow: hidden;

			li {
				list-style: none;
				display: inline-block;
				margin: 0 1rem;
				position: relative;
				overflow: hidden;

				a {
					font-size: 1rem;
					font-weight: normal;
					letter-spacing: 2px;
					display: inline-block;
					text-decoration: none;
					color: $dark-gray;
					padding: 0.5rem 0;
					mix-blend-mode: multiply;

					&:hover {
						color: $primary;
					}


				}

				&::after,
				&.is-active span {
					display: block;
					content: ' ';
					background-color: #e8e8e8;
					position: absolute;
					top: auto;
					bottom: 2px;
					left: 0;
					width: 100%;
					height: 2px;
				}

				&.is-active {
					a {
						color: $black;
						font-weight: 500;
					}

					span {
						background-color: $primary;
						z-index: 1;
					}
				}
			}
		}
	}
}

@media (max-width: $to-small) {
	nav {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		z-index: 99;

		.navbar {
			display: flex;
			justify-content: space-between;
			height: 60px;
			align-items: center;

			>div {
				padding: 0 30px;
				font-size: 20px;
				align-self: auto;
			}

			.logo {
				margin-right: auto;

				img {
					width: 55px;
				}
			}

			.btn2 {
				// position: absolute;
				width: 30px;
				height: 30px;
				// top: 100px;
				// left: 120px;
				-webkit-transition-duration: 0.5s;
				transition-duration: 0.5s;
			}

			.btn2 .icon {
				-webkit-transition-duration: 0.5s;
				transition-duration: 0.5s;
				position: absolute;
				height: 3px;
				width: 30px;
				top: 30px;
				background-color: $primary;
				// mix-blend-mode: difference;
			}

			.btn2 .icon:before {
				-webkit-transition-duration: 0.5s;
				transition-duration: 0.5s;
				position: absolute;
				width: 30px;
				height: 3px;
				background-color:$primary;
				content: "";
				top: -10px;
				// mix-blend-mode: difference;
			}

			.btn2 .icon:after {
				-webkit-transition-duration: 0.5s;
				transition-duration: 0.5s;
				position: absolute;
				width: 30px;
				height: 3px;
				background-color:$primary;
				content: "";
				top: 10px;
				// mix-blend-mode: difference;
			}

			.btn2.open .icon {
				-webkit-transition-duration: 0.5s;
				transition-duration: 0.5s;
				background: transparent;
			}

			.btn2.open .icon:before {
				-webkit-transform: rotateZ(45deg) scaleX(1.25) translate(7px, 7px);
				transform: rotateZ(45deg) scaleX(1.25) translate(7px, 7px);
				background-color: $black;

			}

			.btn2.open .icon:after {
				-webkit-transform: rotateZ(-45deg) scaleX(1.25) translate(6px, -6px);
				transform: rotateZ(-45deg) scaleX(1.25) translate(6px, -6px);
				background-color: $black;

			}

			.btn2:hover {
				cursor: pointer;
			}

			.menus {
				position: fixed;
				align-content: center;
				justify-content: center;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				height: 100%;
				display: none;
				z-index: -1;
				background: $white;

				&.open {
					display: flex;
				}

				ul {
					overflow: hidden;
					width: 100%;
					height: 100%;
					display: flex;
					justify-content: center;
					height: 100vh;
					align-items: center;
					flex-direction: column;

					li {
						list-style: none;
						display: block;
						margin: 0 1rem;
						position: relative;
						overflow: hidden;
						a {
							font-size: 1rem;
							line-height: 1.5rem;
							font-weight: normal;
							letter-spacing: 2px;
							display: block;
							text-decoration: none;
							color: #3d3d3d;
							padding: 0.5rem 0;
							mix-blend-mode: multiply;
							min-width: 250px;
							&:hover {
								color: $primary;
							}


						}

						&::after,
						&.is-active span {
							display: block;
							content: ' ';
							background-color: #e8e8e8;
							position: absolute;
							top: auto;
							bottom: 2px;
							left: 0;
							width: 100%;
							height: 2px;
						}

						&.is-active {
							a {
								color: $black;
								font-weight: 500;
							}

							span {
								background-color: $primary;
								z-index: 1;
							}
						}
					}
				}
			}
		}
	}

}

@media (max-width: $to-small) {}

@media (min-width: $from-small) and (max-width: $to-medium) {}

@media (min-width: $from-medium) and (max-width: $to-large) {}

@media (min-width: $from-large) and (max-width: $to-huge) {}

@media (min-width: $from-huge) and (max-width: $to-gigantic) {}

@media (min-width: $from-gigantic) and (max-width: $to-colossal) {}

@media (min-width: $from-colossal) {}