//colors
$black: #000000;
$dark-gray:#383838;
$mid-gray:#a1a1a1;
$light-gray:#ccc;
$white: #ffffff;
//colors
$default:#0574bd;
$primary: #005de9;
$secondary:#004a7b;

//socials
$fb:#3b5998;
$tw:#1da1f2;
$gm :#d14836;