* {
    padding: 0px;
    margin: 0px;
    font-family: "Maison Neue", sans-serif;
    font-weight: 300;
    color: #444444;
}

html {
    background: #000000;
}

@media (max-width: 699px) {
    html {
        font-size: 12px;
    }
}

@media (min-width: 700px) and (max-width: 999px) {
    html {
        font-size: 13px;
    }
}

@media (min-width: 1000px) and (max-width: 1199px) {
    html {
        font-size: 14px;
    }
}

@media (min-width: 1200px) and (max-width: 1599px) {
    html {
        font-size: 16px;
        /* [1] */
    }
}

@media (min-width: 1600px) and (max-width: 1999px) {
    html {
        font-size: 18px;
    }
}

@media (min-width: 2000px) and (max-width: 2399px) {
    html {
        font-size: 21px;
    }
}

@media (min-width: 2400px) {
    html {
        font-size: 24px;
    }
}

a {
    color: #ffffff;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    color: #444444;
}

p {
    font-size: 1.5rem;
    color: #999;
    letter-spacing: 1px;
    font-weight: 300;
    line-height: 1.5em;
    margin-bottom: 2.5em;
}

img {
    width: 100%;
}

#page-wrapper {
    padding-right: 2rem;
    padding-left: 2rem;
    max-width: 100rem;
}

@media (max-width: 1599px) and (min-width: 700px) {
    #page-wrapper {
        padding-right: 7.5rem;
        padding-left: 7.5rem;
        max-width: 140rem;
    }

    .page-container {
        padding-right: 7.5rem;
        padding-left: 7.5rem;
        max-width: 140rem;
    }
}

@media (min-width: 768px) {
    .page-container {
        margin: 0 auto;
        max-width: 1024px;
    }

    .page-container p {
        color: #999;
        letter-spacing: 1px;
        font-weight: 300;
        line-height: 1.5em;
        margin-bottom: 2.5em;
    }
}

h1 {
    font-size: 6rem;
}

h2 {
    font-size: 5rem;
}

h3 {
    font-size: 4rem;
}

h4 {
    font-size: 3rem;
}

h5 {
    font-size: 2rem;
    color: #fff;
    font-weight: 900;
    text-transform: uppercase;
}

.fade-in {
    -webkit-animation: fadein 3s;
    -moz-animation: fadein 3s;
    -ms-animation: fadein 3s;
    -o-animation: fadein 3s;
    animation: fadein 3s;
}

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-moz-keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-webkit-keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* NEW LOADER */


.loading_spinner-wrap {
    /* padding: 50px 0; */
    position: fixed;
    z-index: 999;
    background: black;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.loading_spinner {
    display: block;
    margin: 0 auto;
    fill: #ffffff;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -40px;
    margin-top: -10px;
}

.loading_spinner circle {
    animation-name: upAndDown;
    animation-duration: 2s;
    animation-timing-function: cubic-bezier(0.05, 0.2, 0.35, 1);
    animation-iteration-count: infinite;
}

.loading_spinner circle:nth-child(2) {
    animation-delay: .18s;
}

.loading_spinner circle:nth-child(3) {
    animation-delay: .36s;
}

@keyframes upAndDown {
    0% {
        opacity: 0;
        transform: translateY(0);
    }

    25% {
        opacity: 1;
        transform: translateY(-10px);
    }

    75% {
        opacity: 1;
        transform: translateY(-10px);
    }

    100% {
        opacity: 0;
        transform: translateY(0);
    }
}

.navigation {
    right: 0px;
    left: 0px;
    padding: 20px;
    position: fixed;
    z-index: 99;
}

.navigation .logo {
    display: inline-block;
}

@media (max-width: 699px) {
    .navigation {
        position: fixed;
        left: 0px;
        right: 0px;
        top: 0px;
        z-index: 99;
    }
}

@media (min-width: 700px) and (max-width: 999px) {
    .navigation {
        position: fixed;
        left: 0px;
        right: 0px;
        top: 0px;
        z-index: 99;
    }
}

.sidebar-container {
    height: 100%;
    width: 100%;
}




#sidebar {
    position: fixed;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    z-index: 20;
    overflow: hidden;
    pointer-events: none;
    color: #000;
    background: #fff;
    -webkit-transform: scale(1, 0);
    -ms-transform: scale(1, 0);
    transform: scale(1, 0);
    -webkit-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    transform-origin: 0 0;
    transition: all cubic-bezier(0.77, 0, 0.175, 1) 0.5s;
    -webkit-perspective: 1000;
    perspective: 1000;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    opacity: 0;
}

@media (max-width: 767px) {
    #sidebar {
        width: 100%;

    }
}

#sidebar ul {
    position: absolute;
    bottom: 50px;
    left: 20px;
    width: calc(100% - 40px);
    max-height: 350px;
    pointer-events: auto;
    font-size: 4em;
    text-transform: uppercase;
    line-height: 1;
    margin-bottom: -8px;
}

#sidebar ul li {
    position: relative;
    overflow: hidden;
    margin-left: -2px;
    margin-bottom: 10px;
    opacity: 0;
    /*
    -webkit-transform: translate(0, -50px);
    -ms-transform: translate(0, -50px);
    transform: translate(0, -50px);
    -webkit-transform: translate3d(0, -50px, 0);
    transform: translate3d(0, -50px, 0);
    transition: -webkit-transform .2s, opacity .2s;
    transition: transform .2s, opacity .2s;
*/
}

#sidebar ul li a {
    font-size: 0.5em;
    color: #000;
    font-weight: 700;
    position: relative;
    display: inline-block;
    text-transform: lowercase;
    color: currentColor;
}

#sidebar.open {
    opacity: 1;
    height: 100%;
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    transform: scale(1, 1);
    background: #ffffff;
}

#sidebar.open .docker {
    display: none;
}

#sidebar.open ul {
    position: absolute;
    bottom: 50px;
    width: calc(100% - 40px);
    pointer-events: auto;
    margin-bottom: -8px;
}

#sidebar.open ul li {
    /*
    transition: -webkit-transform cubic-bezier(0.165, 0.84, 0.44, 1) 1s, opacity cubic-bezier(0.165, 0.84, 0.44, 1) 1s;
    transition: transform cubic-bezier(0.165, 0.84, 0.44, 1) 1s, opacity cubic-bezier(0.165, 0.84, 0.44, 1) 1s;
*/
    opacity: 1;
    /*
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
*/
    display: flex;
}

/*
#sidebar.open ul li:nth-child(1) {
    transition-delay: .7s;
}

#sidebar.open ul li:nth-child(2) {
    transition-delay: .6s;
}

#sidebar.open ul li:nth-child(3) {
    transition-delay: .5s;
}

#sidebar.open ul li:nth-child(4) {
    transition-delay: .4s;
}
#sidebar.open ul li:nth-child(5) {
    transition-delay: .3s;
}
#sidebar.open ul li:nth-child(6) {
    transition-delay: .2s;
}#sidebar.open ul li:nth-child(7) {
    transition-delay: .1s;
}
*/
.docker {
    display: block;
}

#threeLines {
    position: absolute;
    right: 20px;
    top: 25px;
    z-index: 22;
    width: 30px;
    height: 30px;
    padding: 0px;
    /* margin-right: 15px; */
    cursor: pointer;
    transition: all 600ms ease;
    /* margin-top: -11px; */
}

#threeLines #el {
    cursor: pointer;
    width: 30px;
    padding: 0px;
    height: 1px;
    background: white;
    box-shadow: 0px 0px 0px transparent;
    border: 0px transparent;
    text-indent: -999px;
    position: absolute;
    top: 50%;
    left: 0px;
    margin-top: -1px;
    -webkit-appearance: none;
    line-height: 0px;
    transition: all 300ms ease;
    border-radius: 99px;
}

#threeLines #el:active,
#threeLines #el:focus {
    outline: 0px;
    border: 0px;
}

#threeLines #el::after,
#threeLines #el::before {
    display: block;
    content: "";
    position: absolute;
    left: 0px;
    height: 1px;
    background: white;
    width: 100%;
    transition: all 300ms ease;
    border-radius: 99px;
}

#threeLines #el::after {
    top: -10px;
}

#threeLines #el::before {
    bottom: -10px;
    left: auto;
    right: 0px;
}

#threeLines.active {
    transform: rotate(360deg);
}

#threeLines.active #el {
    background: transparent;
}

#threeLines.active #el:after {
    transform: rotate(-135deg) translate(-9px, -9px) scale(1.1, 1.1);
    background: black;
}

#threeLines.active #el:before {
    transform: rotate(135deg) translate(-5px, 5px) scale(1.1, 1.1);
    background: black;
}

footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
    padding: 20px 0px;
    left: 0px;
    z-index: 1;
    text-align: right;
}

footer ul {
    margin-right: 10px;
    display: block;
}

footer ul li {
    display: inline-block;
}

footer ul li a {
    margin-right: 10px;
    display: block;
    padding: 6px;
    border-radius: 6px;
    color: #ccc;
    letter-spacing: 1px;
    color: #838383;
}

footer ul li a.fb {
    background: #3b5998;
}

footer ul li a.tw {
    background: #1da1f2;
}

footer ul li a.gm {
    background: #d14836;
}

@media (max-width: 699px) {
    footer {
        position: relative;
        text-align: center;
    }

    footer ul {
        margin: 0px;
    }

    footer ul li {
        margin: 0px;
    }

    footer ul li a {
        margin-right: 0px;
        color: #ffffff;
        font-size: 1.5rem;
        letter-spacing: 1.5px;
    }

    footer ul li a span {
        font-size: inherit;
        color: #0084ff;
    }
}

.home-container {
    width: 100vw;
    height: 100vh;
    text-align: center;
    position: relative;
    top: 0px;
    /* z-index: -1; */
}

.home-container .my-name {
    position: relative;
    top: 40%;
}

.home-container .my-name h1 {
    font-size: 2em;
    letter-spacing: 0.2em;
    font-weight: 300;
    color: #ffffff;
    margin-bottom: 15px;
}

.home-container .my-name h1 span {
    color: #0084ff;
}

.home-container .my-name p {
    color: #ccc;
    letter-spacing: 0.3em;
    font-size: 1em;
}

.home-container .my-name p span {
    color: #0084ff;
    margin: 0px 10px;
}

@media (max-width: 699px) {
    .home-container .my-name h1 {
        font-size: 2rem;
    }

    .home-container .my-name p {
        font-size: 1rem;
    }
}

.project-container {
    margin: 0 auto;
    width: 768px;
}

.project-container ul.project-list {
    padding: 20px;
}

.project-container ul li {
    overflow: hidden;
    margin-bottom: 1rem;
    background-size: cover;
}

.project-container ul li a {
    position: relative;
    padding: 40px 0px 40px 40px;
    color: #ccc;
    text-transform: uppercase;
    font-size: 32px;
    font-weight: 700;
    display: block;
    letter-spacing: 2px;
    -webkit-transition: all 1s ease-in;
    -moz-transition: all 1s ease-in;
    -o-transition: all 1s ease-in;
    transition: all 1s ease-in;
    background: rgba(51, 51, 51, 0.5);
}

.project-container ul li a:hover {
    background: rgba(51, 51, 51, 0);
    -webkit-transition: all 1s ease-in;
    -moz-transition: all 1s ease-in;
    -o-transition: all 1s ease-in;
    transition: all 1s ease-in;
}

.project-container ul li a span {
    position: absolute;
    z-index: -1;
    color: #131313;
    left: 0px;
    font-size: 10rem;
    font-weight: 700;
    top: 0px;
}

@media (max-width: 699px) {
    .project-container {
        width: 100%;
    }
}

.page-heading {
    font-size: 4rem;
    color: #ffffff;
    font-weight: 700;
    margin-bottom: 1rem;
}

@media (max-width: 699px) {
    .page-heading {
        text-align: center;
        font-size: 2rem;
        padding: 20px;
    }
}

@media (min-width: 700px) and (max-width: 999px) {
    .page-heading {
        text-align: center;
        font-size: 3rem;
        padding: 20px;
    }
}

.pro-header-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-size: cover;
    background-position: center center;
    height: 50vh;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.pro-header-container .page-heading {
    margin-bottom: 0rem;
}

.pro-header-container .pro-header h1 {
    text-shadow: rgba(0, 0, 0, 0.46) 7px 7px 10px;
    color: #fff;
}

.pro-header-container .view-proj-btn {
    background: #fff;
    padding: 2rem 3rem;
    color: #000;
    display: inline-block;
}

@media (max-width: 699px) {
    .pro-header-container {
        box-sizing: border-box;
        position: relative;
        height: 100vh;
        padding: 3rem;
    }

    .pro-header-container h1 {
        font-size: 5rem;
    }

    .pro-header-container .pro-header {
        position: absolute;
        bottom: 3rem;
    }
}

@media (min-width: 700px) and (max-width: 999px) {
    .pro-header-container .pro-header {
        position: absolute;
        bottom: 3rem;
    }
}

.technologies {
    margin: 2rem 0px;
}

.technologies li {
    list-style: none;
    display: inline-block;
    background: #2f2f2f;
    color: #fff;
    margin-right: 5px;
    margin-bottom: 10px;
    padding: 1rem 2rem;
    text-transform: uppercase;
}

@media (max-width: 699px) {
    .technologies {
        margin: 2rem 0px;
    }

    .technologies li {
        font-size: 16px;
    }
}

.project-type {
    margin: 2rem 0px;
}

.project-type li {
    list-style: none;
    display: inline-block;
    background: #2f2f2f;
    color: #fff;
    margin-bottom: 10px;
    margin-right: 5px;
    padding: 1rem 2rem;
    text-transform: uppercase;
}

@media (max-width: 699px) {
    .project-type {
        margin: 2rem 0px;
    }

    .project-type li {
        font-size: 16px;
    }
}

.pro-details {
    margin-top: 60vh;
}

.pro-details h1 {
    font-size: 2rem;
    margin-bottom: 2rem;
    letter-spacing: 1px;
    color: #fff;
}

@media (max-width: 699px) {
    .pro-details {
        margin-top: 0rem;
        padding: 3rem;
        box-sizing: border-box;
    }

    .pro-details h1 {
        font-size: 2rem;
        margin-bottom: 2rem;
        letter-spacing: 1px;
    }
}

@media (min-width: 1000px) and (max-width: 1199px) {
    .pro-details {
        padding-top: 3rem;
    }
}

@media (min-width: 1200px) and (max-width: 1599px) {
    .pro-details {
        padding-top: 0rem;
    }
}

.pro-images img {
    width: 100%;
}

.pro-images .desktop-img {
    border-radius: 12px;
    overflow: hidden;
    margin-top: 50px;
    margin-bottom: 50px;
}

.pro-images .tab-img {
    border-radius: 10px;
    overflow: hidden;
    width: 75%;
    margin-top: 50px;
    margin-bottom: 50px;
}

.pro-images .mob-img {
    border-radius: 18px;
    overflow: hidden;
    width: 50%;
    margin-top: 50px;
    margin-bottom: 50px;
}

@media (max-width: 699px) {
    .pro-images {
        position: relative;
        overflow: hidden;
    }

    .pro-images img {
        width: 100%;
    }

    .pro-images .desktop-img {
        border-radius: 12px;
        overflow: hidden;
        position: relative;
        width: 150%;
        bottom: 0px;
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .pro-images .tab-img {
        margin-left: -80%;
        width: 200%;
        overflow: hidden;
        border-radius: 10px;
        width: 150%;
        z-index: 2;
        bottom: 0px;
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .pro-images .mob-img {
        overflow: hidden;
        border-radius: 18px;
        width: 80%;
        z-index: 3;
        bottom: 0px;
        margin-left: 37%;
        right: 0px;
        margin-top: 50px;
        margin-bottom: 50px;
    }
}

.about {
    width: 100%;
    height: 100vh;
    height: auto;
}

.about .about-me {
    color: #ffffff;
}

.about-details {
    margin-top: 0vh;
}

.about-details h1 {
    font-size: 2rem;
    margin-bottom: 2rem;
    letter-spacing: 1px;
}

.about-details .my-img {
    -webkit-filter: grayscale(100%);
    /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    -webkit-filter: blur(5px);
    /* Safari 6.0 - 9.0 */
    filter: blur(5px);
}

.about-details .my-img:hover {
    -webkit-filter: blur(0px);
    /* Safari 6.0 - 9.0 */
    filter: blur(0px);
}

.about-details .work-exp-block .skills {
    padding: 1rem 0px;
    margin-bottom: 4rem;
}

.about-details .work-exp-block .skills li {
    list-style: none;
    position: relative;
    margin-bottom: 20px;
    display: block;
}

.about-details .work-exp-block .skills li .skill-time {
    position: absolute;
    right: 0px;
    top: 0px;
    padding: 1rem 0px;
    line-height: 1.5rem;
}

.about-details .work-exp-block .skills li div {
    display: block;
}

.about-details .work-exp-block .skills li .skill-name {
    color: #ffffff;
    font-size: 1.5rem;
    font-weight: 500;
    border-bottom: #2c2c2c 1px solid;
    padding: 1rem 0px;
    letter-spacing: 1px;
}

.about-details .work-exp-block .skills li .skill-name div {
    padding: 10px 20px;
    border-radius: 20px;
    background: #131313;
    margin-bottom: 15px;
    color: white;
}

.about-details .work-exp-block .skills li .skill-type {
    color: #858585;
    font-size: 1rem;
    padding: 1rem 0px;
}

.about-details .work-exp-block .skills li .skill-type div {
    display: inline-block;
    padding: 0px 15px;
    border-right: 1px solid #2c2c2c;
}

.about-details .work-exp-block .skills li .skill-type div:nth-child(1) {
    padding-left: 0px;
}

.about-details .work-exp-block .skills li .skill-type div:nth-last-child(1) {
    border-right: 0px solid #2c2c2c;
}

@media (max-width: 699px) {
    .about-details {
        margin-top: 0rem;
        padding: 3rem;
        box-sizing: border-box;
    }

    .about-details h1 {
        font-size: 2rem;
        margin-bottom: 2rem;
        letter-spacing: 1px;
    }

    .about-details .skills li .skill-time {
        top: unset !important;
        line-height: normal !important;
        bottom: 0px;
        font-size: 1rem;
    }
}

@media (min-width: 1000px) and (max-width: 1199px) {
    .about-details {
        padding-top: 3rem;
    }
}

@media (min-width: 1200px) and (max-width: 1599px) {
    .about-details {
        padding-top: 0rem;
    }
}

/*# sourceMappingURL=data:application/json;charset=utf-8;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbXSwibmFtZXMiOltdLCJtYXBwaW5ncyI6IiIsImZpbGUiOiJzdHlsZXMuY3NzIiwic291cmNlUm9vdCI6IiJ9*/
.smooth-sec {
    position: fixed;
    right: 0px;
    top: 45%;
    background: red;
    display: block;
}

.smooth-sec li {
    display: block;
    padding: 1rem;
}





nav.main-nav ul li {
    text-align: center;
    display: contents;
}

nav.main-nav ul li a {
    display: inline-block;
    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: 500;
    padding: 1.5rem;
    color: #595959;
    cursor: pointer;
}

nav.main-nav ul li a:hover {
    color: #0000;
}

@media only screen and (max-width: 768px) {}

nav.main-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: #ffffff;
    z-index: 1;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
    opacity: 0;
    display: none;
}

nav.main-nav ul {
    display: none;
}

nav.main-nav ul li {
    display: block;
}

nav.main-nav ul li.nav-logo {
    display: none;
}

nav.main-nav ul li a {
    display: block;
    font-size: 1.5rem;
    font-weight: 800;
        padding: 1rem;
    font-size: 2.5rem;
    color: #000000;
}

nav.main-nav ul li a:hover {
    color: #000000;
}

nav.main-nav.active {
    opacity: 1;
    display: flex;
}

nav.main-nav.active ul {
    display: block;
}

/*
header {
    background: #ffffff;
    position: relative;
    z-index: 2;
    border-bottom: 1px solid #eeeeee;
}
*/

/* CONTACT */

.contact-form{
    /* padding: 1rem; */
}
.contact-form div span{
position: absolute;
font-size: 2rem;
padding: 1.5rem 1rem;
}
.contact-form input {
    font-size: 2rem;
    width: 100%;
    border: 0rem solid #ffffff;
    border-bottom: 0.2rem solid #ffffff;
    padding: 1.5rem 1rem 1.5rem 4rem;
    box-sizing: border-box;
    background: #000000;
}

.contact-form input:focus {
    border-bottom: 0.2rem solid #0057ff; 
}