@import 'variables';
@import 'nav';
@import 'home';
@import 'work';
@import 'work2';
@import 'about';
@import 'footer';
.about-text{
    padding: 5rem 0;
    height: 100vh;
    font-size: 1.5rem;
    line-height: 2.5rem;
}