//colors
$white: #fff;
$gray-light: #ccc;
$gray-mid: #999;
$gray-dark: #444444;
$gray-dark-rgba: #2c2c2c;
$black: #1f1f1f;

$primary: #0084ff;
$color_chambray_approx: #3b5998;
$color_dodger_blue_approx: #1da1f2;
$color_valencia_approx: #d14836;
$brown: rgba(175, 29, 29, 0.46);
$red: red;
$color_blue_ribbon_approx: #0057ff;

//fonts
$font_0: Poppins;
$font_1: sans-serif;


@import "root";
@import "portfolio";